@import '../../../sass/variables';
@import '../../../sass/mixins';

.btn-primary {
    padding-inline: 1rem;
    border-radius: 2rem;
    border: 1px solid map-get($map: $colors, $key: 'transparent-white');
    padding-block: 0.7rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}