@import '../../sass/variables';
@import '../../sass/mixins';

.projects-section {
    width: 80%;
    margin-top: 10rem;
    height: 100svh;

    .projects-grid {
        @include dgrid($max_width: 180vh, $width: 100%, $margin: 0, $template: 53vh, $justify: center, $gap: 3.5vh)
    }
}