@import '../../sass/variables';
@import '../../sass/mixins';

.projects-section {
    width: 80%;
    margin-top: 10rem;
    height: auto;
    margin-bottom: 10rem;
    @include dflex($direction: column, $justify: center, $align: center);

    .projects-container + .projects-container {
        margin-top: 20vh;
    }


    .fullstack-project-title {
        font-size: 1.5rem;
    }

    .projects-grid {
        height: 100%;
        @include dgrid($max_width: 180vh, $width: 100%, $margin: 0, $template: 53vh, $justify: center, $gap: 3.5vh);
        .project {
            max-height: 100vh;
            border-radius: 15px;
            border: 1px solid rgba(map-get($map: $colors, $key: 'white'), $alpha: 0.15);
            overflow: hidden;
            &__image {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            &__info {
                text-align: center;
                padding-inline: 2rem;
                padding-block: 2.5rem;
                height: auto;
            }
            &__tags {
                @include dflex($direction: row, $justify: center, $align: center);
                margin-block: 1.5em;
            }
            &__tag {
                background: rgb(116,24,62);
                background: linear-gradient(145deg, rgba(116,24,62,0.8) 0%, rgba(66,27,131,0.8) 100%);
                border-radius: 1000px;
                padding-inline: 0.8em;
                padding-block: 0.1em;
                &__text {
                    font-family: 'R_Bold';
                    font-size: 0.8em;
                }
            }
            &__description {
                color: rgba(map-get($map: $colors, $key: 'white'), $alpha: 0.8);
                margin-block: 1.5em;
            }
        }
        .project__tag + .project__tag {
            margin-left: 0.5em;
        }
    }
}