@import '../../sass/variables';
@import '../../sass/mixins';

.profile-section {
    width: 80%;
    margin-top: 10rem;
    .profile-content {
        @include dflex($direction: row, $justify: start, $align: start);
        p {
            font-size: 1.2rem;
            line-height: 3.6vh;
            margin-left: 4vw;
        }
    }

    .me {
        min-width: 25rem;
        height: 38rem;
        border-radius: 10px;
        background-color: rgba($color: white, $alpha: 0.05);
        box-shadow: 0 0 60px rgba(66,27,131,0.5);
        object-fit: cover;
    }

    .info {
        p + p {
            margin-top: 4vh;
        }
    }

    @media (max-width: 1000px) {
        .profile-content {
            @include dflex($direction: column, $justify: start, $align: center);
            p {
                margin: 0;
                margin-top: 10vh;
            }
        }
    }
}