@import '../../sass/variables';
@import '../../sass/mixins';

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 0.9rem;
    z-index: 99;
    nav {
        .nav-item {
            margin-block: 1.2rem;
        }
        background: rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(7.5px);
        text-transform: uppercase;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(map-get($map: $colors, $key: 'white'), $alpha: 0.15);
        border-radius: 1000px;
        .nav-left {
            margin-left: 0.6rem;
            min-width: 20%;
            justify-content: start;
            ul {
                display: flex;
                justify-content: start;
            }
        }
        .nav-center {
            justify-content: center;
            width: 40%;
            ul {
                display: flex;
                justify-content: center;
                width: 100%;
                li + li {
                    margin-left: 2vw;
                }
            }
        }
        .nav-right {
            margin-right: 0.6rem;
            min-width: 20%;
            justify-content: end;
            ul {
                display: flex;
                justify-content: end;
            }
        }
        
    }

    .mobile-nav {
        display: none;
    }

    @media (max-width: 1000px) {
        width: 100%;
        padding: 0;

        nav {
            height: 10%;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid rgba(map-get($map: $colors, $key: 'white'), $alpha: 0.15);
            width: 100%;
            display: flex;
            justify-content: center;

            .nav-center {
                width: 100%;
                ul {
                    li + li {
                        margin-left: 3rem;
                    }
                }
            }

            .nav-left, .nav-right {
                display: none
            }

            .nav-item {
                margin-block: 2rem;
            }
        }
    }
}
